# Ignore backup or copy folders
old/
bak/
backup/
**/old/
**/bak/
**/backup/

# Ignore backup or temporary files
*.old
*.bak
*.tmp
*.temp
*.log
*.cache

# Ignore system files
Thumbs.db
Desktop.ini
.DS_Store

# Visual Studio
.vs/
*.user
*.suo
*.vcxproj.user

# Visual Studio Code
.vscode/

# Node.js
node_modules/

# Ignore build folders
dist/
build/

# Ignore internal repositories within projects/
wwwroot/projects/**/.git/
wwwroot/projects/**/.gitignore
wwwroot/projects/**/.gitattributes
wwwroot/projects/**/.gitmodules
